<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Api</title>
</head>

<body>
    <h1 class="title">Star Wars-API</h1>
    <h3>Planets</h3>
    <h4><%= locals.data %></h4>
    <form action="/" method="post">
        <label for="planets"> Item </label>
        <button name="planets">Button</button>
    </form>
    <div class="container">
         
        <% if (locals.ship) { %>
            <h2>Name: <%= ship.name %>
            </h2>
            <h2>Model: <%= ship.model %>
            </h2>
            <h3>Manufacturer: <%= ship.manufacturer %>
            </h3>
            <h3>Cost: <%= ship.cost_in_credits %>
            </h3>
            <% } %>
    </div>
</body>

</html>